<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="add-user" enctype="multipart/form-data">
        <h1>SignUp in</h1>
        <label for="user">Userid:</label>
        <input type="text" name="user" id="user" value="">
        <br><br>
        <label for="pass">password:</label>
        <input type="password" name="pass" id="pass" value="">
        <br><br>
        <input type="submit" name="submit" id="submit" value="save">
    </form>
</body>
</html>