<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="/add" enctype="multipart/form-data" method="post">
        <h1>Product detal</h1>
        <label for="name"> Product Name:</label>
        <input type="text" name="name" id="name">
        <br> <br>
        <label for="price">Price:</label>
        <input type="text" name="price" id="price">
        <br> <br>
        <label for="file">Upload image</label>
         <input type="file" name="img" id="file">
         <br><br>
         <input type="submit">
    </form>
</body>
</html>