<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1> All details</h1>
    <% arr.forEach(ele=>{%>
        <h1><%= ele.name%></h1>
        <h2><%=ele.price%></h2>
        <img src="<%= ele.img %>" alt="not found" style="width: 300px; height: 300px;">;

    <%})%>
</body>
</html>