<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Blog Detial</h1>
     <% if(arr) { %>
      <%  arr.forEach(item=>{ %>
        <h1><%=item.blogn%></h1>
        <h1><%=item.blogs%></h1>
        <img src="<%=item.blogimg%>" height="400px" width="400px" alt="Image not found">
      <%  }) %>
     <% } %>
</body>
</html>