<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Enter your Detail</h1>
    <form action="Create-data" method="post" enctype="multipart/form-data">
        <label for="name">Name:</label>
        <input type="text" name="name" id="name"> <br> <br>

        <label for="fathern">Father's Name:</label>
        <input type="text" name="fathern" id="fathern"> <br> <br>

        <label for="img">Upload Image:</label>
        <input type="file" name="img" id="img">; <br> <br>

        <input type="submit">
         
    </form>
</body>
</html>